extends layout

block content
  h1= title
  p Welcome to #{title}

  select(id="Test", name="name_test")
    -for(var i=0; i<select_list.length; i++){
        option(value="#{select_list[i]}") #{select_list[i].id} : #{select_list[i].name} : #{select_list[i].name_jp}
    -}

